header{
    display: flex;
    background-color: red;
    
}

#score{
    width: 80%;
    
}
.hide{
    display: none;
}

main{
    
    display: flex;
    justify-content: center;
    border-color: lightskyblue;
    border-width: 4 px;
    border-style: solid;
    margin-top: 10%;
    
}


